/* shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

body,
h1,
ul,
li {
    margin: 0;
    padding: 0;
}

.primary-color {
    color: #FF42A5;
}


header {
    background-color: #fff;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}


.logo-company {
    display: flex;
}

.logo img {
    width: 86.041px;
    height: 40px;
    justify-content: center;
    align-items: center;
}


.company-name-title {
    color: #0B0223;
    font-size: 24px;
    padding-left: 10px;
}


nav {
    display: flex;
    padding: 10px 20px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1050px;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
}


.follow-us {
    display: flex;
    align-items: center;
}

.follow-us p {
    margin-right: 25px;

}

.follow-us a {
    margin-right: 35px;
    gap: 5px;
}


.hero-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.hero-content {
    background-image: url(../images/Group\ 14.png);
    width: 901px;
    height: 700px;
}

.content-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 140px;
}

.content-sub-title {
    text-align: center;
    font-size: 95px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.content-description {
    color: #534C64;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    text-transform: lowercase;
}

.btn-primary {

    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    background: var(--Linear, linear-gradient(90deg, #FF42A5 13.13%, #FF42A5 87.94%));
    margin-left: 250px;
}

.btn-primary-1 {
    color: #FFF;
    background: #4EC5F7;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    background: #4EC5F7;
    margin-left: 20px;
}

.btn-primary-2 {

    color: #FF42A5;
    background: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 20px 40px;
    border: none;
    border-radius: 48px;
    background: white;
    margin-left: 400px;
}

.banner {
    display: flex;
    /* width: 1920px;
    height: 600px; */
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);

}

.banner-title {
    text-align: right;
    font-size: 48px;
    font-weight: 700;

    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.banner-description {
    color: #534C64;
    text-align: right;
    width: 520px;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.videos-section-title {
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 0;
}

.videos-section-description {
    color: #534C64;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

.gradient-color {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.funny-videos-images {

    width: 342px;
    height: 400px;
    flex-shrink: 0;
    border-radius: 16px;


}

.funny-videos {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.no-download-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    gap: 270px;
}

.no-download-title {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;

}

.no-download-description {
    color: #534C64;
    text-align: right;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 353px;
}

.no-download-content-img {
    width: 634.833px;
    height: 650px;
    flex-shrink: 0;
}

.img-badge {
    width: 318.5px;
    height: 365.083px;

    border-radius: 8px;
    border: 0;
    margin: 0;
    position: relative;
    bottom: 300px;
    right: 100px;

}

.img-badge-1 {
    width: 318.5px;
    height: 365.083px;

    border-radius: 8px;
    border: 0;
    margin: 0;
    position: relative;
    bottom: 300px;
    left: 500px;
}

.careers-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #FF42A5;
    margin-top: 150px;
}

.careers-title {
    color: #FFF;
    padding-left: 450px;
    width: 426px;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}

.careers-description {
    color: #FFF;
    width: 680px;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    padding-left: 250px;
}

.position {
    display: flex;
    gap: 30px;
    padding-left: 300px;
}

.careers-position-description {
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.addresses {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}

.games-catagories {
    display: flex;
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 13.13%, rgba(255, 66, 165, 0.03) 87.94%);
    height: 300px;
    justify-content: center;
    align-items: center;
    gap: 20px;



}



.games-items {
    display: flex;
    width: 243px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: #FFF;

    margin-top: 100px;
    justify-content: center;
    align-items: center;



}



.games-items img {
    width: 20%;
    height: 60px;
    flex-shrink: 0;
    padding: 10px;
}

.games-items h6 {
    color: #0B0223;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
}

.footer {
    width: 1920px;
    height: 500px;
    flex-shrink: 0;
    background: #0B0223;
}

.company-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 120px;
}

.footer-nav ul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.footer-nav ul li {
    list-style: none;
}

.footer-nav ul li a {
    text-decoration: none;
    color: #FFF;
    font-size: 18px;
    font-weight: 600;
}


.footer-nav-1 ul {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    gap: 20px;
}

.footer-na-1 ul li {
    list-style: none;
}

.footer-nav-1 ul li a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.copyright {
    color: rgba(255, 255, 255, 0.60);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

/* responsive media query */




/* responsive media query for small devices*/
@media screen and (max-width: 575px) {
    header {
        padding: 10px;
    }

    .logo img {
        width: 60px;
        height: auto;
    }

    nav {
        margin-left: 20px;
    }

    nav ul {
        margin-left: 0;
    }

    .follow-us p {
        margin-right: 10px;
    }

    .hero-section {
        flex-direction: column;
        gap: 20px;
    }

    .hero-content {
        width: 100%;
        height: auto;
        background-size: cover;
    }

    .content-title {
        font-size: 36px;
        padding-top: 80px;
    }




}


/* responsive media query for medium devices  */
@media screen and (min-width: 576px) and (max-width: 991px) {


    header {
        padding: 15px 20px;
    }

    .logo img {
        width: 70px;
        height: auto;
    }

    nav ul {
        margin-left: 20px;
    }

    nav li {
        margin-right: 15px;
    }

    .hero-section {
        gap: 50px;
    }

    .content-title {
        font-size: 42px;
        padding-top: 120px;
    }
}